
/* 🔥 Fuerza que todas las cards tengan la misma altura */
.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid #ccc;
  padding: 10px;
  margin-bottom: 20px!important;
    border-radius: 10px;
}



/* Relleno del contenido para distribuir bien */
.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  text-align: center;
}
/* card.css */
.card-img-top {
  max-height: 200px;
  object-fit: cover;
}



button:disabled {
  cursor: not-allowed;
}

button {
  transition: background-color 0.3s ease;
}
